/**Alex Code**/
body{

font-family: 'Oswald', sans-serif;

  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}
.container{
  background-color: #fff;
  border-radius: 5px;
}
/**head**/


.head__1{
  height:  175px;

}
.blok__init{
  margin-top: 50px;
  margin-left: 15px;
  display: inline-block;
width: 250px;
height:200px;

}
.head_1 h1{


  text-align: left;
  font-size: 34px;

}

.Avatar__picture{
  margin-top: 30px;
  display: inline-block;
  width: 125px;
  height:125px;
  float:left;
}
/**navigation bar**/
.nav__bar{
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
}

.navigation__bar{
  margin: 0 auto;
  text-align: center;
  width:auto;


}
.navigation__bar a{
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}

.active a{
  color: #DF1C00;
  font-weight: 700;
}


/**main container**/
.main__container{
  padding: 20px;
  font-family: arial, sans-serif;
  font-size: 15px;
}


}
.data__container {

  padding:5px;
  max-width: 650px;
  max-height: 450px;
  width:100%;
}

.data__container h3{
  margin-top: 30px;
  font-weight: 700;

}

.news__container{

  padding:15px;
  width:100%;

}
/**scroll container**/
.news{
  padding:15px;

  max-width: 95%;
  max-height: 450px;
  overflow:scroll;
  float:left;
  background-color: #8D1717;
  color:#fff;
  border: 2px solid gray;
  margin-bottom: 20px;
}
.news h3{

  font-size: 19;
  font-weight: 700;
  border-bottom: 2px solid #FFF;
  padding-bottom: 20px;
}
/**
.news::-webkit-scrollbar {
    width: 1em;
}

.news::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.news::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


**/
/**footer**/

.footer__container{
  padding: 10px 0;
  text-align: center;
  border-top: 2px solid #000;


}
.footer__container h6{
  margin-top: 10px;
}


/**Alex Code**/
